# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
temp/
tmp/
pkg/
src/
*.tar.gz
*.rpm

# Lokale Daten
config.json
*.log
.venv/
.env

# System / IDE
.vscode/
.idea/
.DS_Store

# OBS / SUSE specific local files (if any land in the repo)
packaging/suse/rpmbuild/