[Desktop Entry]
Name=NativMix
Comment=Hardware-assisted volume mixer for PipeWire/PulseAudio
GenericName=Volume Mixer
Exec=nativmix
Icon=nativmix
Terminal=false
Type=Application
Categories=AudioVideo;Audio;Mixer;
StartupWMClass=nativmix
Keywords=audio;mixer;volume;pipewire;pulseaudio;arduino;
X-KDE-autostart-delay=10
