[Unit]
Description=NativMix Hardware Volume Mixer
After=pipewire.service
PartOf=graphical-session.target

[Service]
ExecStart=/usr/bin/nativmix --hidden
Slice=app.slice
Restart=on-failure
KillSignal=SIGTERM
SendSIGKILL=yes
TimeoutStopSec=90

[Install]
WantedBy=graphical-session.target
